.center-content {
    width: 40%;
    height: 60%;
    background-color: white;
    text-align: center;
    font-family: courier, monospace, arial, helvetica, sans-serif;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    margin-top:12%;
}